*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$primary_bg: #0707071a;
$secondary_bg: #F0F7FC;
$third_bg: #FCFBFB;

$primary_color: #40c4ff;

$primary_font: #5e5e60;
$secondary_font: #bcb7b7;

$primary_title: #303030;

$primary_border: #eaefea;


@mixin myflex($type: 'ver'){

    display: flex;
    gap: 20px;

    @if $type == 'ver' {
        align-items: center;
    } @else if $type == 'hor' {
        justify-content: center;

    } @else if $type == 'both' {

        align-items: center;
        justify-content: center;
    }
}

@mixin navList ($type: 'noStyle') {

    list-style: none;
    text-decoration: none;

    a:hover {
        color: black;
    }
}
