*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


// BRAND COLORS
$primary_color: #40c4ff;
$primary_color_op: #CFF1FF;
$secondary_color: #FFD23E;


// BACKGROUNDS 
$primary_bg: #0707071a;
$secondary_bg: #F0F7FC;
$third_bg: #FCFBFB;

//BORDERS
$primary_border: #eaefea;


//TITLE AND FONTS
$primary_font: #5e5e60;
$secondary_font: #bcb7b7;

$primary_title: #303030;







@mixin myflex($type: 'ver'){

    display: flex;
    gap: 20px;

    @if $type == 'ver' {
        align-items: center;
    } @else if $type == 'hor' {
        justify-content: center;

    } @else if $type == 'both' {

        align-items: center;
        justify-content: center;
    }
}

@mixin navList ($type: 'noStyle') {

    list-style: none;
    text-decoration: none;

    a:hover {
        color: black;
    }
}

@mixin priceLabel ($type: 'primary') {

    font-size: 0.8em;
    position:absolute;
    color: white;
    padding: 2px 10px;
    border-radius: 10px;

    @if $type == 'secondary' {

        background-color: $secondary_color;
    }

    @if $type == 'primary' {

        background-color: $primary_color;
    }
}

@mixin backgrounds($type: 'primary') {

   @if $type == 'primary' {

    
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 1;
    z-index: -1;
    top:0px;
    bottom:0;
    left:-100px;
    right:-100px;

   } content:"";
}